# Binaries
windows/signallight.exe
*.exe
*.dll
*.so
*.dylib

# Test and coverage artifacts
*.test
*.out

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# IDE / Editor folders
.vscode/
.idea/
*.swp
*~
